.error-404-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.error-container {
    text-align: center;
}

.error-heading {
    font-size: 64px;
    color: #e74c3c;
    /* Rojo */
    margin-bottom: 20px;
}

.error-message {
    font-size: 24px;
    margin-bottom: 40px;
}

.error-description {
    font-size: 18px;
    margin-bottom: 40px;
}

.error-404 {
    font-size: 100px;
    color: #e74c3c;
    /* Rojo */
    margin-bottom: 20px;
}

.home-link {
    font-size: 18px;
    color: #3498db;
    /* Azul */
    text-decoration: none;
    transition: color 0.3s;
}

.home-link:hover {
    color: #2980b9;
    /* Azul más oscuro */
}