@font-face {
    font-family: 'Nexa';
    src: url("/public-graphic-sa/fonts/nexa-light.OTF") format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('/public-graphic-sa/fonts/nexa-bold.OTF') format('OpenType');
    font-weight: bold;
    font-style: normal;
}