@font-face {
    font-family: 'Nexa';
    src: url("/Public-Graphic-SA/fonts/nexa-light.OTF") format('.OTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('/Public-Graphic-SA/fonts/nexa-bold.OTF') format('.OTF');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Nexa', sans-serif;
    color: rgb(60, 60, 62);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;
}

nav>a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 5px;
    cursor: pointer;
}

nav>a:hover {
    color: rgba(255, 255, 255, 0.849);
}

.contenedor {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.titulos {
    display: flex;
    text-align: center;
    justify-content: end;
    align-items: center;
}

.titulo {
    font-size: 80px;
    text-align: end;
    line-height: .9;
    color: black;
    text-transform: uppercase;
    font-weight: normal;
}

.titulo>span {
    font-weight: 700;
    color: rgb(0, 156, 224);
}

.signo {
    width: 160px;
    height: 160px;
    color: rgb(227, 0, 126);
}

.titulo-servicios {
    color: #642a73;
    font-size: 30px;
    text-align: center;
}

/*Esquineras*/
.portafolio,
.portafolio_producto,
.producto_individual,
.sobre-nosotros {
    background-image: url(/Public-Graphic-SA/img/esquinera-1.webp), url(/Public-Graphic-SA/img/esquinera-2.webp);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
}

/* Header */
.header {
    width: 100%;
    height: 80px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(220, 17, 129, 0.801);
    transition: 0.7s ease all;
    padding: 0 30px;
}

.header .container-header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 100%;
    background-color: #fff;
}

.header .container-header-image img {
    width: 100%;
    height: 55px;
}

.hero {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contenido-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textos-hero {
    width: 90%;
}

.contenido-hero .textos-hero .titulo-hero {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
}

.titulo-lineas-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-hero {
    background-color: rgb(0, 149, 217);
    padding: 5px 15px;
}

.linea {
    height: 4px;
    width: 30%;
    background-color: rgb(0, 149, 217);
}

.contenido-hero .galeria-port .container-imagen-port .textos-galeria {
    font-size: 16px;
    flex-direction: column-reverse;

}

/* MENU */
.buttonOpenMenu,
.buttonCloseMenu {
    display: none;
}

.menu {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 60px;
    transition: 0.7s ease left;
}

/* About us */
main .sobre-nosotros {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 100px 0;
}

.sobre-nosotros .contenido-textos,
.imagen-about-us {
    width: 100%;
}

.sobre-nosotros .contenedor {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.contenedor-sobre-nosotros {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-direction: row;
}

.sobre-nosotros .contenido-textos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: none;
    /*Verificar*/
    padding: 10px;
}

.contenedor-sobre-nosotros img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: block;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.contenedor-mision,
.contenedor-vision,
.contenedor-propuesta {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    align-items: center;
}

.contenedor-mision>*,
.contenedor-vision>*,
.contenedor-propuesta>* {
    flex: 1;
    width: 50%;
    max-width: 50%;
}

.contenedor-vision {
    flex-direction: row;
}

.contenido-textos h2 {
    color: rgb(227, 0, 126);
    font-size: 28px;
}

.contenido-textos p {
    padding: 15px 15px;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
    word-wrap: break-word;
}

/* Portfolio */
/* Estilos para las flechas de navegación */
.portafolio {
    position: relative;
    padding: 60px 0;
}

.portafolio_producto {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

/* produdcto individal*/
.producto_individual {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.producto_individual h1 {
    font-size: 32px;
}

.contenedor_producto {
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff5b;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.producto {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.producto h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.producto h3 {
    font-size: 20px;
    color: #555;
}

.producto .galeria-port {
    width: 70%;
    max-height: 100%;
    border-radius: 15px;
}

.producto .galeria-port img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.4s ease transform;
    cursor: pointer;
}

.producto:hover .galeria-port img {
    transform: scale(1.3);
}

.contacto_whatsapp {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.contacto_whatsapp h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.contacto_whatsapp p {
    font-size: 16px;
    color: #666;
    font-weight: bold;
    margin-bottom: 10px;
}

.contacto_whatsapp button {
    background-color: #075e54;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contacto_whatsapp button:hover {
    background-color: #128c7e;
}

.contacto_whatsapp button a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

/*fin de producto individual*/

.seccion-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.galeria-port {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    flex-wrap: wrap;
}

.imagen-port {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    text-transform: uppercase;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.container-imagen-port {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

.textos-galeria {
    width: 100%;
    display: flex;
    line-height: 1.2;
    flex-direction: column;
    font-size: 14px;
}

.textos-galeria h3 {
    text-align: center;
    font-size: 16px;
}

.list-galeria {
    align-self: start;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-galeria li:before {
    content: "-";
    margin-right: 5px;
}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.4s ease all;
}

.imagen-port>img:hover {
    transform: scale(1.1);
}

.capa--opacity {
    width: 0;
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: 4;
    transition: 0.2s ease all;
}


/* contacto */
.contacto {
    width: 100%;
    height: calc(100vh - 80px);
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(241, 76, 232);
    background: linear-gradient(0deg, rgba(241, 76, 232, 1) 13%, rgba(149, 149, 201, 1) 56%, rgba(26, 207, 244, 1) 78%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contacto::before {
    content: "";
    background-image: url('/Public-Graphic-SA/img/logo.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    z-index: 1;
}

.contacto img {
    width: 350px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.contenedor-contacto {
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contenedor-contacto>a {
    width: max-content;
    height: max-content;
    white-space: nowrap;
    word-wrap: break-word;
    background-color: white;
    color: rgb(75, 70, 117);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 32px;
    margin: 4px 2px;
    text-transform: uppercase;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: background-color 0.3s;
}

.contenedor-contacto a:hover {
    background-color: #006994;
    color: #fff;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: white;
}

/* Animaciones para los componentes */

/* Sección Nosotros */
.titulos--animation {
    opacity: 0;
    transform: translateY(100px);
    transition: .7s ease-in-out all;
}

.titulos--animation.visible {
    opacity: 1;
    transform: translateY(0);
    transition: .7s ease-in-out all;
}

.imgM--animation {
    opacity: 0;
    transform: translateX(100px);
    transition: .7s ease-in-out all;
}

.imgM--animation.visible {
    opacity: 1;
    transform: translateX(0);
    transition: .7s ease-in-out all;
}

.imgV--animation {
    opacity: 0;
    transform: translateX(-100px);
    transition: .7s ease-in-out all;
}

.imgV--animation.visible {
    opacity: 1;
    transform: translateX(0);
    transition: .7s ease-in-out all;
}

.imgP--animation {
    opacity: 0;
    transform: translateX(100px);
    transition: .7s ease-in-out all;
}

.imgP--animation.visible {
    opacity: 1;
    transform: translateX(0);
    transition: .7s ease-in-out all;
}

/****************************************************/
/* Estilos del loader */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/****************************************************/
/* Estilos para el carrusel swiper específico */
.carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper_container {
    width: 100%;
    padding: 1rem 1.5rem;
    position: relative;
}

.swiper-slide {
    width: 100%;
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: 500px;
    border-radius: .5rem;
    object-fit: cover;
}