/* Estilos para pantallas de hasta 900px */
@media screen and (max-width: 900px) {
    .carousel-root {
        max-width: 70%;
    }

    .logo_inicio {
        width: 350px;
    }


    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos,
    .imagen-about-us {
        width: 90%;
    }

    .contenedor-footer {
        flex-direction: column;
        justify-content: center;
        border: none;
    }
}

/* Estilos para pantallas de hasta 768px */
@media screen and (max-width: 768px) {
    .carousel-root {
        width: 50%;
    }

    .carousel .slide {
        width: 100%;
    }

    .carousel .slide img {
        max-width: 100%;
        height: auto;
    }

    .capa--opacity.active {
        width: 100%;
        top: 100;
        background-color: rgba(27, 27, 27, 0.527);
        transition: 0.2s ease top;
    }

    nav {
        justify-content: center;
        padding: 30px 0 0 0;
    }

    .menu img {
        display: none;
    }

    .header {
        justify-content: center;
        background-color: #fff;
        border-bottom: 1px solid #e0e0e0;
    }

    .menu {
        width: 50%;
        font-size: 14px;
        flex-direction: column;
        position: fixed;
        gap: 20px;
        top: 0;
        left: -100%;
        background: rgba(220, 17, 129);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        cursor: pointer;
        color: #fff;
        padding: 0;
        transition: top 0.4s ease;
    }


    .menu.active {
        height: 100vh;
        left: 0;
        z-index: 5;
        justify-content: start;
        padding-top: 20px;
        transition: top 0.4s ease;
    }

    .menu a {
        width: 100%;
        height: 38px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.065);
        padding: 0 10px;
        text-align: start;
        display: flex;
        align-items: center;
    }

    .buttonOpenMenu,
    .buttonCloseMenu {
        width: 40px;
        height: 40px;
        justify-self: end;
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 5;
        border: none;
        border-radius: 50%;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        line-height: 0.1;
        transition: 0.4s ease all;
    }

    .buttonOpenMenu.active,
    .buttonCloseMenu.inactive {
        top: -100%;
    }

    .buttonOpenMenu:hover,
    .buttonCloseMenu:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
    }

    .buttonOpenMenu:focus,
    .buttonCloseMenu:focus {
        outline: none;
    }

    .contenido-hero .textos-hero .titulo-hero {
        font-size: 16px;
    }

    .hero {
        padding: 30px 0;
    }

    /* Main */
    .contenido-textos {
        width: 100%;
        flex-direction: row;
    }

    .contenedor-mision-vision,
    .contenedor-propuesta {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-mision-vision img,
    .contenedor-propuesta img {
        width: 95%;
    }

    .sobre-nosotros .titulo {
        font-size: 40px;
    }

    .titulos {
        justify-content: center;
    }

    .signo {
        width: 90px;
        height: 90px;
    }

    .portafolio,
    .portafolio_container,
    .sobre-nosotros {
        background-size: 40%, 40%;
    }

    .imagen-port {
        width: 55%;
    }

    .portafolio_container {
        padding: 120px 0;
    }
}

/* Estilos para pantallas de hasta 500px */
@media screen and (max-width: 500px) {
    .carousel-root {
        width: 80%;
    }

    .logo_inicio {
        width: 200px;
    }

    .textos-header h1 {
        font-size: 35px;
    }

    .textos-header h2 {
        font-size: 20px;
    }

    .contenido-hero .textos-hero .titulo-hero {
        font-size: 14px;
    }

    /* About Us */
    .imagen-about-us {
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos {
        width: 95%;
    }

    .contenedor-mision-vision img,
    .contenedor-propuesta img {
        width: 95%;
    }

    .portafolio,
    .portafolio_container,
    .sobre-nosotros {
        background-size: 60%, 60%;
    }

    .imagen-port {
        width: 80%;
    }

    /* contacto */

    .titulo-final {
        font-size: 20px;
    }

    .contacto img {
        width: 200px;
        height: 250px;
    }

    .contenedor-contacto a {
        font-size: 16px;
    }

    .contacto::before {
        width: 200px;
        height: 250px;
    }
}

/* Estilos para pantallas de al menos 768px */
@media screen and (min-width: 768px) {
    .contenido-hero .textos-hero .titulo-hero {
        font-size: 20px;
    }

    .header.scroll {
        position: sticky;
        top: 0;
        z-index: 100;
        height: 65px;
        background: rgba(187, 44, 123, 0.897);
        backdrop-filter: blur(5px);
        transition: 0.7s ease all;
    }

    .menu img {
        display: block;
        cursor: pointer;
    }

    .contenedor-mision-vision img,
    .contenedor-propuesta img {
        width: 50%;
    }

    .portafolio,
    .portafolio_container,
    .sobre-nosotros {
        background-size: 25%, 25%;
    }

    .portafolio_container {
        padding: 50px 0;
    }

    .imagen-port {
        width: 100%;
    }

    .portafolio_producto .imagen-port {
        width: 50%;
    }

    .galeria-port {
        width: 100%;
        flex-direction: row;
    }

    .container-imagen-port {
        width: 35%;
        align-self: start;
    }

    .portafolio_producto .container-imagen-port {
        flex-direction: row;
        gap: 50px;
        width: 40%;
        align-self: center;
    }

    .carousel-root {
        width: 30%;
    }
}

/* Estilos para pantallas de al menos 1024px */
@media screen and (min-width: 1024px) {
    .container-imagen-port {
        width: 20%;
    }

    .portafolio_producto .imagen-port {
        width: 25%;
    }
}